<div class = "slider-infinite-carrousel">
        <div class = "slider-track-infinite">
          <div class = "slider-infinite-carrousel-card">
            <img src='{{ asset("images/Group 25.svg ") }}' alt="Image 2" />
          </div>
          <div class = "slider-infinite-carrousel-card">
            <img src='{{ asset("images/Group 26.svg ") }}' alt="Image 2" />
          </div>
          <div class = "slider-infinite-carrousel-card">
            <img src='{{ asset("images/Group 62.svg") }}' alt="Image 2" />
          </div>
          <div class = "slider-infinite-carrousel-card">
            <img src='{{ asset("images/Group 27.svg") }}' alt="Image 2" />
          </div>
          <div class = "slider-infinite-carrousel-card">
            <img src='{{ asset("images/image.svg") }}' alt="Image 2" />
          </div>
          <div class = "slider-infinite-carrousel-card">
            <img src='{{ asset("images/imagefelix.svg") }}' alt="Image 2" />
          </div>

          <div class = "slider-infinite-carrousel-card">
            <img src='{{ asset("images/Group 25.svg ") }}' alt="Image 2" />
          </div>
          <div class = "slider-infinite-carrousel-card">
            <img src='{{ asset("images/Group 26.svg ") }}' alt="Image 2" />
          </div>
          <div class = "slider-infinite-carrousel-card">
            <img src='{{ asset("images/Group 62.svg") }}' alt="Image 2" />
          </div>
          <div class = "slider-infinite-carrousel-card">
            <img src='{{ asset("images/Group 27.svg") }}' alt="Image 2" />
          </div>
          <div class = "slider-infinite-carrousel-card">
            <img src='{{ asset("images/image.svg") }}' alt="Image 2" />
          </div>
          <div class = "slider-infinite-carrousel-card">
            <img src='{{ asset("images/imagefelix.svg") }}' alt="Image 2" />
          </div>
        
        </div>
      </div>
