<div class="ArticleBloc1">
      <div class="Article_title">Interviews</div>
      <div class = "slider-infinite-carrousel">
        <div class = "slider-track-infinite">
      <div class = "Article_container_carrousel">
      <div class="ArticleCard">
        <div class="ArticleCard_container_img">
        <div class="Articlepp"><img src='{{ asset("images/pp5.svg") }}' alt="Design" /></div>
      </div>
      <div class="ArticleCard_container_body">
        <div class="project_type_container">
        <div class="project_type_article">Entreprenariat</div>
          <div class="timer_container_article">
            <img class="timer_icon" src='{{ asset("images/Vector.svg") }}' alt="Design" />
            <div class="timer_text">6 min</div>
          </div>
          </div>
          <div class="card_title_article">Start-Up</div>
          <div class="card_description_article">Dans le secteur de la Tech, domaine en constante évolution avec de nouvelles possibilités et idées qui émergent réguliè...</div>
          <div class="project_type_container2">
          <img src='{{ asset("images/pp.svg") }}' alt="Design" />
          <div class="card_footer_article">Baptiste Dulong</div>
        </div>
          </div>
      </div>



      <div class="ArticleCard">
        <div class="ArticleCard_container_img">
        <div class="Articlepp"><img src='{{ asset("images/pp 2.svg") }}' alt="Design" /></div>
      </div>
      <div class="ArticleCard_container_body">
        <div class="project_type_container">
        <div class="project_type_article">Entreprenariat</div>
          <div class="timer_container_article">
            <img class="timer_icon" src='{{ asset("images/Vector.svg") }}' alt="Design" />
            <div class="timer_text">6 min</div>
          </div>
          </div>
          <div class="card_title_article">Start-Up</div>
          <div class="card_description_article">Dans le secteur de la Tech, domaine en constante évolution avec de nouvelles possibilités et idées qui émergent réguliè...</div>
          <div class="project_type_container2">
          <img src='{{ asset("images/pp.svg") }}' alt="Design" />
          <div class="card_footer_article">Baptiste Dulong</div>
        </div>
          </div>
      </div>



    <div class="ArticleCard">
        <div class="ArticleCard_container_img">
        <div class="Articlepp"><img src='{{ asset("images/pp 1.svg") }}' alt="Design" /></div>
      </div>
      <div class="ArticleCard_container_body">
        <div class="project_type_container">
        <div class="project_type_article">Entreprenariat</div>
          <div class="timer_container_article">
            <img class="timer_icon" src='{{ asset("images/Vector.svg") }}' alt="Design" />
            <div class="timer_text">3 min</div>
          </div>
          </div>
          <div class="card_title_article">Start-Up</div>
          <div class="card_description_article">Dans le secteur de la Tech, domaine en constante évolution avec de nouvelles possibilités et idées qui émergent réguliè...</div>
          <div class="project_type_container2">
          <img src='{{ asset("images/pp.svg") }}' alt="Design" />
          <div class="card_footer_article">Baptiste Dulong</div>
        </div>
          </div>
      </div>

      <div class="ArticleCard">
        <div class="ArticleCard_container_img">
        <div class="Articlepp"><img src='{{ asset("images/pp 3.svg") }}' alt="Design" /></div>
      </div>
      <div class="ArticleCard_container_body">
        <div class="project_type_container">
        <div class="project_type_article">Entreprenariat</div>
          <div class="timer_container_article">
            <img class="timer_icon" src='{{ asset("images/Vector.svg") }}' alt="Design" />
            <div class="timer_text">9 min</div>
          </div>
          </div>
          <div class="card_title_article">Start-Up</div>
          <div class="card_description_article">Dans le secteur de la Tech, domaine en constante évolution avec de nouvelles possibilités et idées qui émergent réguliè...</div>
          <div class="project_type_container2">
          <img src='{{ asset("images\pp.svg") }}' alt="Design" />
          <div class="card_footer_article">Baptiste Dulong</div>
        </div>
      </div>
        </div>

        


        <div class="ArticleCard_container_img">
          <div class="Articlepp"><img src='{{ asset("images/pp 2.svg") }}' alt="Design" /></div>
        </div>
        <div class="ArticleCard_container_body">
          <div class="project_type_container">
          <div class="project_type_article">Entreprenariat</div>
            <div class="timer_container_article">
              <img class="timer_icon" src='{{ asset("images/Vector.svg") }}' alt="Design" />
              <div class="timer_text">3 min</div>
            </div>
            </div>
            <div class="card_title_article">Start-Up</div>
            <div class="card_description_article">Dans le secteur de la Tech, domaine en constante évolution avec de nouvelles possibilités et idées qui émergent réguliè...</div>
            <div class="project_type_container2">
            <img src='{{ asset("images/pp.svg") }}' alt="Design" />
            <div class="card_footer_article">Baptiste Dulong</div>
          </div>
            </div>
        </div>
  
  
  
        <div class="ArticleCard">
          <div class="ArticleCard_container_img">
          <div class="Articlepp"><img src='{{ asset("images/pp5.svg") }}'alt="Design" /></div>
        </div>
        <div class="ArticleCard_container_body">
          <div class="project_type_container">
          <div class="project_type_article">Entreprenariat</div>
            <div class="timer_container_article">
              <img class="timer_icon" src='{{ asset("images/Vector.svg") }}' alt="Design" />
              <div class="timer_text">3 min</div>
            </div>
            </div>
            <div class="card_title_article">Start-Up</div>
            <div class="card_description_article">Dans le secteur de la Tech, domaine en constante évolution avec de nouvelles possibilités et idées qui émergent réguliè...</div>
            <div class="project_type_container2">
            <img src='{{ asset("images/pp.svg") }}' alt="Design" />
            <div class="card_footer_article">Baptiste Dulong</div>
          </div>
            </div>
        </div>
  
  
  
      <div class="ArticleCard">
          <div class="ArticleCard_container_img">
          <div class="Articlepp"><img src='{{ asset("images/pp 3.svg") }}' alt="Design" /></div>
        </div>
        <div class="ArticleCard_container_body">
          <div class="project_type_container">
          <div class="project_type_article">Entreprenariat</div>
            <div class="timer_container_article">
              <img class="timer_icon" src='{{ asset("images/Vector.svg") }}' alt="Design" />
              <div class="timer_text">3 min</div>
            </div>
            </div>
            <div class="card_title_article">Start-Up</div>
            <div class="card_description_article">Dans le secteur de la Tech, domaine en constante évolution avec de nouvelles possibilités et idées qui émergent réguliè...</div>
            <div class="project_type_container2">
            <img src='{{ asset("images/pp.svg") }}' alt="Design" />
            <div class="card_footer_article">Baptiste Dulong</div>
          </div>
            </div>
        </div>
  
        <div class="ArticleCard">
          <div class="ArticleCard_container_img">
          <div class="Articlepp"><img src='{{ asset("images/pp 2.svg") }}' alt="Design" /></div>
        </div>
        <div class="ArticleCard_container_body">
          <div class="project_type_container">
          <div class="project_type_article">Entreprenariat</div>
            <div class="timer_container_article">
              <img class="timer_icon" src='{{ asset("images/Vector.svg") }}' alt="Design" />
              <div class="timer_text">3 min</div>
            </div>
            </div>
            <div class="card_title_article">Start-Up</div>
            <div class="card_description_article">Dans le secteur de la Tech, domaine en constante évolution avec de nouvelles possibilités et idées qui émergent réguliè...</div>
            <div class="project_type_container2">
            <img src='{{ asset("images/pp.svg") }}' alt="Design" />
            <div class="card_footer_article">Baptiste Dulong</div>
          </div>
        </div>
          </div>



          </div>
      </div>
    </div>