    <div class="mostlikedproject">
     <div class="card_article">
      <div class="home_card">
        <div class="card_banner">
          <img src='{{ asset("images/roy.png") }}' alt="Design" />
        </div>

        <div class="card_body">
          <div class="card_header">
            <div class="timer_container">
              <img class="timer_icon" src='{{ asset("images/Vector.svg") }}' alt="Design" />
              <div class="timer_text">6 min</div>
            </div>
            <div class="project_type">Design</div>
          </div>
          <div class="card_title">
            Projet Roy<br> Lichtenstein
          </div>
          <div class ="Profil_container">
          <img class="Article_Profil_Picture" src='{{ asset("images/pp.svg") }}' alt="Design" />
          <img class="Article_Profil_Picture2" src='{{ asset("images/pp2.svg") }}' alt="Design" />
          <div class="card_footer">Grégoire Charassin et le Brésil</div>
        </div>
        </div>
      </div>
      <div class="home_card">
        <div class="card_banner">
          <img src="{{ asset('images/design.png') }}" alt="Design" />
        </div>

        <div class="card_body">
          <div class="card_header">
            <div class="timer_container">
              <img class="timer_icon" src='{{ asset("images/Vector.svg") }}' alt="Design" />
              <div class="timer_text">6 min</div>
            </div>
            <div class="project_type">Design</div>
          </div>
          <div class="card_title">
            Le futur est mort. <br />Vive le futur !
          </div>
          <div class ="Profil_container">
            <img class="Article_Profil_Picture" src='{{ asset("images/pp.svg") }}' alt="Design" />
            <img class="Article_Profil_Picture2" src='{{ asset("images/pp2.svg") }}' alt="Design" />
          <div class="card_footer">Simon et Vernier</div>
        </div>
        </div>
      </div>
      <div class="home_card">
        <div class="card_banner">
          <img src='{{ asset("images/viva.png") }}' alt="Design" />
        </div>

        <div class="card_body">
          <div class="card_header">
            <div class="timer_container">
              <img class="timer_icon" src='{{ asset("images/Vector.svg") }}' alt="Design" />
              <div class="timer_text">6 min</div>
            </div>
            <div class="project_type">Design</div>
          </div>
          <div class="card_title">
            Le salon Vivatech<br> Paris 2023
          </div>
          <div class ="Profil_container">
            <img class="Article_Profil_Picture" src='{{ asset("images/pp.svg") }}' alt="Design" />
            <img class="Article_Profil_Picture2" src='{{ asset("images/pp2.svg") }}' alt="Design" />
          <div class="card_footer">Baptiste Dulong er Michael Yap</div>
        </div>
        </div>
      </div>
      </div>
      </div>